<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>s.ess.io/ns<%= ' | ' + current_article.title unless current_article.nil? %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
  </head>
  
  <body class="body <%= page_classes %>">
    <header class="header">
      <h1 class="logo">s<em>.</em>ess<em>.</em>io<em>/</em>ns</h1>
    </header>
    <main class="main">
      <%= yield %>
      <% blog.articles[0...50].each do |article| %>
        <article class="article">
            <header class="article__header">
              <h2 class="article__title"><%= article.title %></h2>
            </header>
            <div class="article__content">
              <figure class="article__hero hero">
                <img class="hero__image" src="/images/<%= article.data.category %>/<%= article.data.hero %>.jpg" />
                <figcaption class="hero__caption<% if article.data.captionInvert == 1 %> hero__caption--inverted<% end %>"><%= article.data.caption %></figcaption>
              </figure>
              <div class="article__meta">
                <div class="article__location"><%= article.data.location %></div>
                <div class="article__timestamp">
                  <%= article.date.strftime('%A, %B %d') %><br />
                  <%= article.date.strftime('%l:%M %p') %>
                </div>
              </div>
              <div class="article__body">
                <%= article.body %>
              </div>
            </div>
            <footer class="article__footer">
            </footer>
        </article>
      <% end %>
    </main>
    <footer class="footer">
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48057019-1', 'ess.io');
      ga('send', 'pageview');
    </script> 
  </body>
</html>
